[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=misha
WorkingDirectory=SITES_ROOT/DOMAIN
EnvironmentFile=SITES_ROOT/DOMAIN/.env

ExecStart=SITES_ROOT/DOMAIN/run-gunicorn.sh

[Install]
WantedBy=multi-user.target