.*
!.gitignore
*.pyc

balsam/argo/migrations/*.py
!balsam/argo/migrations/__init__.py
balsam/service/migrations/*.py
!balsam/service/migrations/__init__.py

experiments
docs/_build/*
docs/_static/*
*.egg-info

default_balsamdb
testdb
