balsam/*/__pycache__*
__pycache__/*
__pycache__
*.pyc
*.egg-info

.*
!.env
!.gitignore
!.readthedocs.yml
!.readthedocs.yaml
!.pre-commit-config.yaml
!.github
!.vscode/
!.dockerignore

pytest-logs/
balsam-logs/
build/
dist/
env/
dev-db/
docs/_build/*

htmlcov/
coverage.xml
