.*
!.gitignore
*.pyc

*_packer.cpython-36m-darwin.so
balsam/service/_packer.c
balsam/argo/migrations/*.py
!balsam/argo/migrations/__init__.py
balsam/service/migrations/*.py
!balsam/service/migrations/__init__.py
build/

experiments
docs/_build/*
docs/_static/*
*.egg-info

default_balsamdb
testdb
nohup.out
env-balsam
