[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
e1839a8 = {editable = true,path = "."}

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.6"
