

table
{
border:1px solid black;
width: 700px;
text-align: center;
padding-right: 0px;
padding-left: 0px;
}

td,th {
border:1px solid black;
padding-right:0px;
padding-left:0px;
}

#job_num{
width:40px;
}
#job_id{
width:150px;
}
#job_start_time{
width:200px;
}
#job_state{
width:50px;
}
#num_subjobs{
width:50px;
}
#current_subjob{
width:50px;
}
#subjob_state{
width:50px;
}
#subjob_site{
width:150px;
}


