<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "argo/javascript/datatables/css/jquery.dataTables.css" %}" type="text/css" media="screen">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "argo/javascript/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "argo/javascript/datatables/dataTables.fixedHeader.js" %}"></script>
<script type="text/javascript">

function toggle_select_all(source) {
   check_boxes = document.getElementsByClassName("jobid_chkbx");
   for (i=0;i<check_boxes.length;i++){
      check_boxes[i].checked = source.checked;
   }
}

function filterREGEX () {
    $('#db_list').DataTable().search(
        $('#global_filter').val(),
        true,
        false
    ).draw();
}

$(document).ready(function() {
    var table = $('#db_list').DataTable({
         "iDisplayLength": 100,
         "aLengthMenu": [[10,25,50,100,-1],[10,25,50,100,"All"]],
         "order": [[ 0, "desc" ]],
      });

    $('#global_filter').on( 'keyup click', function () {
        filterREGEX();
    } );

    new $.fn.dataTable.FixedHeader( table );
} );
</script>
</head>

<body>
   Type here to search with a REGEX  <input type="text" id="global_filter"> </br>
   <input type="checkbox" name="jobnum_selectall" value="jobnum_selectall" onclick="toggle_select_all(this)"> Select All Rows

   <form action="" method="post">
   {% csrf_token %}
   </br></br>

   <table id='db_list' class='display'>
      <thead>
      <tr> <th id="pk" title="pk"> DB# </th>
           <th id="argo_job_id" title="ARGO Job ID"> Job ID </th>
           <th id="state" title="Current Job State"> State </th>
           <th id="user_id" title="User defined ID"> User ID </th>
           <th id="name" title="User defined Name"> Name </th>
           <th id="description" title="User defined Description"> Description </th>
           <th id="group_identifier" title="Group ID used by user to link jobs."> Group ID </th>
           <th id="time_created" title="Time DB entry was created."> Created </th>
           <th id="time_modified" title="Last time DB entry was modified."> Modified </th>
           <th id="time_finished" title="Time the job Finished."> Finished </th>
           <th id="working_directory" title="Working directory."> Working Path </th>
           <th id="username" title="User reported Username"> Username </th>
           <th id="email" title="User email"> Email </th>
           <th id="input_url" title="Input URL"> Input URL </th>
           <th id="output_url" title="Output URL"> Output URL </th>
           <th id="subjob_pk_list" title="List of Subjobs"> Subjob list </th>
           <th id="current_subjob_pk_index" title="Current Subjob Index (count from 0)."> Subjob# </th>
           <th id="job_status_routing_key" title="Send Job status back to Exchange with this key."> Status Key </th>
      </tr>
      </thead>
      <tbody>
{% if argo_jobs %}
      {% for job in argo_jobs %}
         <tr> <td class='dt-center'> {{ job.form.checkbox }} <a href="{% url 'job_display' job.id %}" target="_blank"> {{ job.id }} </a> </td> 
              <td class='dt-center'> {{ job.argo_job_id }} </td>
              <td class='dt-center'> {{ job.state }} </td>
              <td class='dt-center'> {{ job.user_id }} </td>
              <td class='dt-center'> {{ job.name }} </td>
              <td class='dt-center'> {{ job.description }} </td>
              <td class='dt-center'> {{ job.group_identifier }} </td>
              <td class='dt-center'> {{ job.time_created }} </td>
              <td class='dt-center'> {{ job.time_modified }} </td>
              <td class='dt-center'> {{ job.time_finished }} </td>
              <td class='dt-center'> {{ job.working_directory }} </td>
              <td class='dt-center'> {{ job.username }} </td>
              <td class='dt-center'> {{ job.email }} </td>
              <td class='dt-center'> {{ job.input_url }} </td>
              <td class='dt-center'> {{ job.output_url }} </td>
              <td class='dt-center'> {{ job.subjob_pk_list }} </td>
              <td class='dt-center'> {{ job.current_subjob_pk_index }} </td>
              <td class='dt-center'> {{ job.job_status_routing_key }} </td>
         </tr>
      {% endfor %}
{% else %}
      <tr> <td> No Argo Jobs Found </td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
{% endif %}
      </tbody>
   </table>
</form>


</body>
</html>
