
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"> [{{ env_name }}] </h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'apps' %}">Applications</a>
        <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
      </nav>
    </div>
</header>

<form action="{% url 'edit_job' job_id %}" method="post" >
    {% csrf_token %}
    {{ form_errors }}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field.errors }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-dark">Submit</button>
</form>

{% endblock %}