{% extends 'base.html' %}

{% block content %}
<h1 class="h1 text-center"> BalsamJob Table </h1>

<a class="btn btn-primary mb-3" data-toggle="collapse" href="#BalsamFilter" role="button"> 
    New BalsamJob 
</a>

<table id="table_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Workflow</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {% for item in tasks %}
        <tr>
            <td> {{ item.0 }} </td>
            <td> {{ item.1 }} </td>
            <td> {{ item.2 }} </td>
            <td> {{ item.3 }} </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Workflow</th>
            <th>State</th>
        </tr>
</tfoot>
</table>
{% endblock %}
